{% extends "global/Page.html" %}
{% load otree %}

{% block title %} {% endblock %}

{% block content %}

<style>
    .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
    
    .box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
 </style>

{{form.answer_3b.errors}}


<div class="center">
<style type="text/css">
.tg  {border:none;border-collapse:collapse;border-spacing:0;}
.tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
  padding:10px 5px;word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-tki1{border-color:inherit;font-size:25px;text-align:center;vertical-align:middle}
</style>
<table class="tg">
  <tr>
    <th class="tg-tki1">98 + 88 + 58 + 44 + 74 =</th>
    <th class="tg-tki1">{{form.answer_3b}}</th>
  </tr>
</table>
</div>    


    <br>
    <br>

<div class="center">
    <button>
    Submit
    </button>
</div>


{% endblock %}
