{% extends "global/Page.html" %}
{% load otree %}

{% block title %} {% endblock %}

{% block content %}

<style>
    .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
    
    .box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
 </style>

<p>
    In this task, we ask that you pick a number between 0 and 100. When all surveys are submitted, we will randomly pick another participant and, between the two of you, the participant who picks a number closest to two thirds of the average of the corresponding two numbers picked will win ${{reward_int}} (if you tie with the other person, you'll get ${{reward_half}}).
    <br>
    <br>
    Please pick a number between 0 and 100. You may choose 0 or 100 if you wish:
</p>

{{ form.guess.errors }}

  <div class="center">
    {{ form.guess }}
  </div>

<div class="box">
    <button>
    Submit
    </button>
</div>

{% endblock %}
