{% extends "global/Page.html" %}
{% load otree %}

{% block title %} {% endblock %}

{% block content %}

<style>
    .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
    
    .box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
 </style>

<p>
How do you see yourself: are you generally a person who is fully prepared to take risks or do you try to avoid taking risks?
    <br>
Please tick a box on the scale, where the value 0 means: 'not at all willing to take risks' and the value 10 means: 'very willing to take risks'
    
</p>

{{ form.willing_to_take_risk.errors }}
{{ form.willing_to_take_risk }}


<br>


<div class="box">
    <button>
    Submit
    </button>
</div>

{% endblock %}
