{% extends "global/Page.html" %}
{% load otree %}

{% block title %} {% endblock %}

{% block content %}

<style>
    .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
    
    .box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
 </style>

<p>
    You can invest in a risky project if you would like. You can invest up to {{ endowment_int }} tokens, or you can choose to keep them. 
    <br>
    <br>
    The risky project has a {{ p_success_int }}% chance of success.
</p>
<ul>
  <li>If the project is successful, you will receive {{ Constants.multiplier }} times the amount you chose to invest.</li>
  <li>If the project is unsuccessful, you will lose the amount invested.</li>
</ul>
<p>    
    Please choose how many tokens you want to invest in the risky project. Note that you can pick any number between 0 and {{ endowment_int }}, including 0 or {{ endowment_int }}:
</p>

{{ form.amount_risky.errors }}

  <div class="center">
    {{ form.amount_risky }}
  </div>

    
<p>
<br>
    You will learn your payoff in this section at the end of the survey.
</p>


<div class="box">
    <button>
    Submit
    </button>
</div>


{% endblock %}
